.podcast-page {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-top: 8rem;
}

@media (min-width: 585px) {
  .podcast-page {
    display: grid;
    grid-template-columns: 30% auto;
    gap: 2rem;
    padding-top: 8rem;
  }

}