.podcast-list {
  padding-top: 7rem;
}

.podcast-list>ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  gap: 6rem 2rem;
  justify-content: space-evenly;
  margin-top: 7rem;
}

.podcast-list li,
.podcast-list .podcast-item {
  width: 100%;
}

@media (min-width:585px) {
  .podcast-list>ul {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 4rem 2rem;
    justify-content: space-between;
    margin-top: 4rem;
  }

  .podcast-list li,
  .podcast-list .podcast-item {
    height: 17rem;
    width: 13rem;
  }

}